---
layout: default
title: "Abelstipend for masterstudenter"
---

{% include default_opening.html 
  heading = "Abelstipend"
  subtitle= "Stipend for masterstudenter i matematiske fag"
%}

<div class="w3-container w3-padding">
  {% include section_heading.html level="h3" title="Kommende utlysning" id="kommende" %}

    <p>Søknadsfristen for Abelstipend 2026–2027 er utløpt. Utlysning for 2027-2028 offentliggjøres i god tid før fristen som antas å bli rundt 1. april 2027.</p>
</div>

<div class="w3-container w3-padding">
  {% include section_heading.html level="h3" title="Informasjon og retningslinjer for søknader" id="retningslinjer" %}

  <ul>

    <li>Abelstipend kan tildeles studenter som er opptatt i masterprogram i matematiske fag ved norske læresteder. Abelstipendene har som formål å stimulere lovende studenter til videre studier og forskning i matematiske fag.</li>
    <li>Et Abelstipend er et personlig stipend som skal dekke utgifter i forbindelse med opphold ved et utenlandsk lærested. Det gis til mastergradsstudenter ved norske læresteder som har fullført utdanning på bachelor-nivå eller tilsvarende. Som faglig minstekrav for tildeling av Abelstipend kreves normalt 80 studiepoeng i matematiske fag.</li>
    <li>Norsk matematisk forening krever ikke reiseregning eller annen rapportering fra mottaker av Abelstipend. Norsk matematisk forening er ansvarlig for rapportering om stipendtildelingene til skatteetaten. Mottaker av Abelstipend er selv ansvarlig for at tildelt beløp anvendes som forutsatt og for nødvendig rapportering til skatteetaten.</li>
    <li>Norsk matematisk forening fastsetter hvert år et månedlig maksimalbeløp det kan søkes om. Det kan gis støtte for inntil fire måneders utenlandsopphold. Norsk matematisk forening kan vedta å innvilge hele eller en del av det beløpet det er søkt om i en søknad om Abelstipend.</li>
    <li>Utlysning av Abelstipend skjer normalt en gang pr. år. Norsk matematisk forening er ansvarlig for utlysning og fatter beslutning om tildeling av stipend.</li>
    <li>En søknad om Abelstipend skal inneholde:
      <ul>
        <li>Faglig mål for studieoppholdet</li>
        <li>Navn på utenlandsk lærested der studieoppholdet planlegges gjennomført, fortrinnsvis med bekreftelse fra faglig kontaktperson og/eller dokumentasjon på at studieopphold er innvilget</li>
        <li>Kandidatens karakterutskrift</li>
        <li>Anbefaling fra veileder</li>
      </ul></li>
    <li>Hovedkriteriet for tildeling er faglig kvalitet.</li>
    </ul>

</div>

<div class="w3-container w3-padding">
  {% include section_heading.html level="h3" title="Tidligere tildelte stipend" id="historikk" %}
  <div class="w3-padding-16"></div>
  <table class="site-table" aria-label="Abelstipend tildelinger">
    <thead>
      <tr>
        <th scope="col">Studieår</th>
        <th scope="col">Mottaker</th>
        <th scope="col">Institusjon</th>
        <th scope="col">Kunngjøring</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="white-space: nowrap;">2026–2027</td>
        <td>Astri Mysterud</td>
        <td>NTNU</td>
        <td></td>
      </tr>
      <tr>
        <td style="white-space: nowrap;">2026–2027</td>
        <td>Mathias Stubodden</td>
        <td>UiS</td>
        <td></td>
      </tr>
      <tr>
        <td style="white-space: nowrap;">2025–2026</td>
        <td>Vegard Ingemann Hansen</td>
        <td>UiB</td>
        <td><a href="/abelstipend_referater/2025-2026/referat_vegard">Les referat</a></td>
      </tr>
      <tr>
        <td style="white-space: nowrap;">2025–2026</td>
        <td>John Aslak Wee Kleven</td>
        <td>NTNU</td>
        <td><a href="/abelstipend_referater/2025-2026/referat_kleven">Les referat</a></td>
      </tr>
    </tbody>
  </table>
</div>
