---
layout: default
title: "Hva vi gjør"
permalink: /hva-vi-gjor/
---

{% include default_opening.html 
  heading="Hva vi gjør" 
  subtitle=""
%}

<div class="w3-container w3-padding" id="internasjonalt-samarbeid">
  {% include section_heading.html level="h2" title="Internasjonalt samarbeid" id="internasjonalt" %}
  <p>Matematikkforeningen er en aktiv deltaker i flere internasjonale sammenhenger og representerer norsk matematikk i ledende organisasjoner og samarbeidsfora.</p>

  {% include section_heading.html level="h3" title="ICIAM" id="ICIAM" %}
  <h3 class="w3-text-dark-grey">International Council for Industrial and Applied Mathematics</h3>
  <p>NMF er medlem av <strong>ICIAM</strong>, den verdensomspennende paraplyorganisasjonen for profesjonelle anvendt-matematikkforeninger. ICIAM ble grunnlagt i 1987 og organiserer hvert fjerde år den internasjonale kongressen for industriell og anvendt matematikk (<em>International Congress on Industrial and Applied Mathematics</em>) — den mest prestisjefylte internasjonale konferansen innen anvendt matematikk. ICIAM deler også ut flere høythengende priser ved kongressene: <strong>Lagrange-prisen</strong> for livslang innsats, <strong>Collatz-prisen</strong> for fremragende anvendte matematikere under 42 år, <strong>Pioneer-prisen</strong> for banebrytende arbeid i nye felt, <strong>Maxwell-prisen</strong> for originalitet i anvendt matematikk, og <strong>Su Buchin-prisen</strong> for bidrag til fremvoksende økonomier og menneskelig utvikling.</p>

  {% include section_heading.html level="h3" title="CIMPA" id="CIMPA" %}
  <h3 class="w3-text-dark-grey">Centre International de Mathématiques Pures et Appliquées</h3>
  <p>Norge har siden 2012 vært medlem i <a href="https://www.cimpa.info">CIMPA</a>, en internasjonal organisasjon som arrangerer forskerskoler i utviklingsland for å fremme matematisk forskning globalt. Kunnskapsdepartementet har gitt Norsk matematisk forening i oppdrag å ivareta den norske deltagelsen. Foreningen er representert i CIMPAs <em>Steering Council</em> ved <strong>Prof. Giulia di Nunno</strong> (UiO) og <strong>Prof. Snorre Christiansen</strong> (UiO), og i CIMPAs <em>Scientific Council</em> ved <strong>Prof. Ragni Piene</strong> (UiO).</p>

  {% include section_heading.html level="h3" title="Nasjonalkomiteen for matematikk" id="nasjonalkomiteen-for-matematikk" %}
  <p>Som medlemsland i <a href="https://www.mathunion.org/"">International Mathematical Union (IMU)</a> har Norge en Nasjonalkomité for matematikk. Denne ledes av leder for gruppen for matematiske fag i <a href="https://www.dnva.no/">Det Norske Videnskaps-Akademi (DNVA)</a>, <strong>Prof. Kristian Seipp</strong> (NTNU), og består videre av leder for Norsk matematisk forening, <strong>Prof. Bjørn Ian Dundas</strong> (UiB), og leder for <a href="https://www.matematikkradet.no/">Norsk matematikkråd</a>, <strong>Prof. Cordian Benedikt Riener</strong> (UiT). Norges tilknytning til IMU går via DNVA, som er vår <em>Adhering Organization</em>.</p>
</div>
