---
layout: default
title: "Internasjonalt samarbeid"
permalink: /internasjonalt_samarbeid/
---

{% include default_opening.html 
  heading="Internasjonalt samarbeid" 
  subtitle="Matematikkforeningen er en aktiv deltaker i flere internasjonale sammenhenger"
%}

<div class="w3-container w3-padding" id="internasjonalt-samarbeid">
  

  {% include section_heading.html level="h3" title="EMS" id="EMS" %}
  <h3 class="w3-text-dark-grey">European Mathematical Society</h3>
  <p>NMF er medlem av  <a href="https://euromathsoc.org" target="_blank">EMS</a> (European Mathematical Society). EMS er en europeisk organisasjon som arbeider for å fremme utviklingen av matematikk innen forskning, utdanning og anvendelse. Organisasjonen ble grunnlagt i 1990 og samler matematikere, nasjonale matematiske foreninger og forskningsinstitusjoner fra hele Europa. EMS støtter internasjonalt samarbeid, arrangerer konferanser, publiserer vitenskapelige tidsskrifter og bidrar til å styrke matematikkens rolle i samfunnet. Gjennom sine aktiviteter fremmer EMS både forskning av høy kvalitet og utviklingen av matematikkutdanning i Europa.</p>

  {% include section_heading.html level="h3" title="IMU" id="IMU" %}
  <h3 class="w3-text-dark-grey">International Mathematical Union</h3>
  <p>Som medlemsland i <a href="https://www.mathunion.org" target="_blank">IMU</a> (International Mathematical Union) har Norge en Nasjonalkomité for matematikk. Denne ledes av leder for gruppen for matematiske fag i Det Norske Videnskaps-Akademi <a href="https://www.dnva.no" target="_blank">(DNVA)</a>, Prof. Kristian Seip (NTNU), og består videre av leder for Norsk matematisk forening, Prof. Bjørn Ian Dundas (UiB), og leder for Norsk matematikkråd, Prof. Cordian Benedikt Riener (UiT). Norges tilknytning til IMU går via DNVA, som er vår Adhering Organization.</p>

  {% include section_heading.html level="h3" title="ICIAM" id="ICIAM" %}
  <h3 class="w3-text-dark-grey">International Council for Industrial and Applied Mathematics</h3>
  <p>NMF er medlem av <a href="https://iciam.org" target="_blank">ICIAM</a> (International Council for Industrial and Applied Mathematics). ICIAM er en internasjonal organisasjon som fremmer utviklingen av anvendt og industriell matematikk på verdensbasis. Organisasjonen består av nasjonale og regionale matematiske foreninger og arbeider for å styrke samarbeidet mellom forskere, industri og utdanningsinstitusjoner. ICIAM organiserer den internasjonale ICIAM-kongressen hvert fjerde år, støtter internasjonalt forskningssamarbeid og bidrar til å synliggjøre hvordan matematikk kan brukes til å løse praktiske utfordringer innen blant annet teknologi, medisin, naturvitenskap og industri. Gjennom sitt arbeid fremmer ICIAM både forskning av høy kvalitet og anvendelsen av matematikk i samfunnet.</p>

  {% include section_heading.html level="h3" title="CIMPA" id="CIMPA" %}
  <h3 class="w3-text-dark-grey">Centre International de Mathématiques Pures et Appliquées</h3>
  <p>Norge har siden 2012 vært medlem i <a href="https://www.cimpa.info">CIMPA</a>, en internasjonal organisasjon som arrangerer forskerskoler i utviklingsland for å fremme matematisk forskning globalt. Kunnskapsdepartementet har gitt Norsk matematisk forening i oppdrag å ivareta den norske deltagelsen. Foreningen er representert i CIMPAs <em>Steering Council</em> ved Prof. Giulia di Nunno (UiO) og Prof. Snorre Christiansen (UiO), og i CIMPAs <em>Scientific Council</em> ved Prof. Ragni Piene (UiO).</p>

  
</div>
