---
layout: default
title: "Internasjonalt samarbeid"
permalink: /internasjonalt_samarbeid/
---

{% include default_opening.html 
  heading="Internasjonalt samarbeid" 
  subtitle="Matematikkforeningen er en aktiv deltaker i flere internasjonale sammenhenger"
%}

<div class="w3-container w3-padding" id="internasjonalt-samarbeid">
  

  {% include section_heading.html level="h3" title="EMS" id="EMS" %}
  <h3 class="w3-text-dark-grey">European Mathematical Society</h3>
  <p>NMF er medlem av  <a href="https://euromathsoc.org" target="_blank">EMS</a> (European Mathematical Society). EMS er en europeisk organisasjon som arbeider for å fremme utviklingen av matematikk innen forskning, utdanning og anvendelse. Organisasjonen ble grunnlagt i 1990 og samler matematikere, nasjonale matematiske foreninger og forskningsinstitusjoner fra hele Europa. EMS støtter internasjonalt samarbeid, arrangerer konferanser, publiserer vitenskapelige tidsskrifter og bidrar til å styrke matematikkens rolle i samfunnet. Gjennom sine aktiviteter fremmer EMS både forskning av høy kvalitet og utviklingen av matematikkutdanning i Europa. 
  </p>

  <p>Alle medlemmer av NMF oppfordres til å tegne personlig medlemskap i EMS, noe som kan gjøres via EMS-nettsiden <a href="https://euromathsoc.org/account/payment/membership-type" target="_blank">her</a>.</p>

  {% include section_heading.html level="h3" title="IMU" id="IMU" %}
  <h3 class="w3-text-dark-grey">International Mathematical Union</h3>
  <p>I følge sine statutter har den internasjonale matematiske unionen (<a href="https://www.mathunion.org" target="_blank">IMU</a>) som oppgave
    <ul>
<li> å fremme internasjonalt samarbeid innen matematikk,</li>
<li> å støtte og hjelpe til med Den internasjonale matematikerkongressen (ICM - første gang avholdt i 1897) og andre internasjonale vitenskapelige møter/konferanser,</li>
<li> å anerkjenne fremragende forskningsbidrag til matematikken ved utdeling av vitenskapelige priser, og</li>
<li> å oppmuntre og støtte andre internasjonale matematiske aktiviteter som antas å bidra til utviklingen av den matematiske vitenskapen i alle dens aspekter, enten det gjelder ren, anvendt eller utdanningsrettet matematikk. (se <a href="https://www.mathunion.org/organization/mission" target="_blank">her</a>)</li>
</ul>

<p> IMU ble etablert i 1919 og Norge har vært medlem siden 1932.  Det er Det Norske Videnskaps-Akademi som er ”tilknyttet medlemsorganisasjon” for Norge, med NMF som tilstøtende ”matematisk forening," se <a href="https://www.mathunion.org/imu-members/norway" target="_blank">her</a>.</p>
 

<p>Neste <a href="https://icm2030.kenes.com" target="_blank">ICM</a> avholdes i Glasgow i 2030.  Den prestisjefylte Fields medaljen, som tildeles inntil fire matematikere under 40 år, har blitt utdelt på hver kongress siden kongressen ble avholdt i Oslo i 1936.</p>


<p>
Lopende informasjon om IMUs aktiviteter publiseres i <a href="https://www.mathunion.org/membership/imu-bulletins" target="_blank">IMU Bulletins</a>   og i <a href="https://www.mathunion.org/organization/imu-news" target="_blank">IMU News</a>.  
</p>
    
    

  {% include section_heading.html level="h3" title="ICIAM" id="ICIAM" %}
  <h3 class="w3-text-dark-grey">International Council for Industrial and Applied Mathematics</h3>
  <p>NMF er medlem av <a href="https://iciam.org" target="_blank">ICIAM</a> (International Council for Industrial and Applied Mathematics). ICIAM er en internasjonal organisasjon som fremmer utviklingen av anvendt og industriell matematikk på verdensbasis. Organisasjonen består av nasjonale og regionale matematiske foreninger og arbeider for å styrke samarbeidet mellom forskere, industri og utdanningsinstitusjoner. ICIAM organiserer den internasjonale ICIAM-kongressen hvert fjerde år, støtter internasjonalt forskningssamarbeid og bidrar til å synliggjøre hvordan matematikk kan brukes til å løse praktiske utfordringer innen blant annet teknologi, medisin, naturvitenskap og industri. Gjennom sitt arbeid fremmer ICIAM både forskning av høy kvalitet og anvendelsen av matematikk i samfunnet.</p>

  {% include section_heading.html level="h3" title="CIMPA" id="CIMPA" %}
  <h3 class="w3-text-dark-grey">Centre International de Mathématiques Pures et Appliquées</h3>
  <p>Norge har siden 2012 vært medlem i <a href="https://www.cimpa.info">CIMPA</a>, en internasjonal organisasjon som arrangerer forskerskoler i utviklingsland for å fremme matematisk forskning globalt. Kunnskapsdepartementet har gitt Norsk matematisk forening i oppdrag å ivareta den norske deltagelsen. Foreningen er representert i CIMPAs <em>Steering Council</em> ved Prof. Giulia di Nunno (UiO)</p>

  
</div>
