---
layout: default
title: "Viggo Brun-prisen"
---

{% include default_opening.html 
  heading="Viggo Brun-prisen" 
  subtitle="Pris for yngre fremragende matematikere"
%}

<div class="w3-container w3-padding w3-center">
  <div class="w3-row">
    <div class="w3-half w3-padding">
      <img src="/assets/images/vb-logo5.png" alt="Viggo Brun-prisen logo" style="max-width: 200px; width: 100%;">
    </div>
    <div class="w3-half w3-padding">
      <img src="/assets/images/pi-rose4.png" alt="Pi rose" style="max-width: 200px; width: 100%;">
    </div>
  </div>
</div>

<div class="w3-container w3-padding">
  {% include section_heading.html level="h3" title="Prisvinnere" id="prisvinnere" %}
  <div class="w3-padding-16"></div>
  <table class="site-table" aria-label="Viggo Brun-prisen Prisvinnere">
    <thead>
      <tr>
        <th scope="col">År</th>
        <th scope="col">Prisvinner</th>
        <th scope="col">Begrunnelse</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="white-space: nowrap;">2024</td>
        <td><a href="https://www.mn.uio.no/math/personer/vit/jorgeren/">Jørgen Vold Rennemo</a></td>
        <td><a href="/news/2024/12/13/viggo-brun-prisen-2024.html">Begrunnelse</a></td>
      </tr>
      <tr>
        <td style="white-space: nowrap;">2022</td>
        <td><a href="https://en.wikipedia.org/wiki/Nina_Holden">Nina Holden</a></td>
        <td><a href="/news/2022/09/02/viggo-brun-prisen-2022.html">Begrunnelse</a></td>
      </tr>
      <tr>
        <td style="white-space: nowrap;">2020</td>
        <td><a href="https://www.mn.uio.no/math/personer/vit/johnco/index.html">John Christian Ottem</a></td>
        <td><a href="/news/2020/09/02/viggo-brun-prisen-2020.html">Begrunnelse</a></td>
      </tr>
      <tr>
        <td style="white-space: nowrap;">2018</td>
        <td><a href="https://web.matematikkforeningen.no/2018/09/07/prisvinnere/">Rune Gjøringbø Haugseng</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="w3-container">
  {% include section_heading.html level="h3" title="Om prisen" id="om-prisen" %}
  <p>Viggo Brun-prisen er opprettet av Norsk matematisk forening og tildeles yngre norske matematikere for fremragende forskning innen matematikk, inkludert matematiske aspekter ved informasjonsteknologi, matematisk fysikk, numerisk analyse og beregningsvitenskap. Prisen skal være en anerkjennelse for vitenskapelige bidrag på høyt internasjonalt nivå.</p>

  <p>Prisen deles ut annethvert år, første gang ved Norsk matematisk forenings 100-årsjubileum i tilknytning til det nasjonale matematikermøtet i Bergen 13.-14. september 2018. Prisvinner mottar et diplom laget av den finske designeren Eero Astala og et pengebeløp som i 2018 var 50.000 norske kroner. Diplomet prydes av prisens logo og en figur som er tatt fra Viggo Bruns artikkel om Leibniz’ formel for 𝜋.</p>

  <p>Prisvinner skal normalt være under 37 år ved begynnelsen av året for prisutdeling. Prisen skal normalt gis til én person, men kan unntaksvis deles mellom to eller flere forskere som har oppnådd fremragende resultater i fellesskap. Prisvinner må tilfredsstille minst ett av følgende krav:
  <ul>
    <li>være norsk statsborger</li>
    <li>ha tatt en vesentlig del av sin utdanning ved et norsk lærested</li>
    <li>ha minst tre års ansettelse ved et norsk universitet eller en norsk høgskole.</li>
  </ul>
  </p>
</div>

<div class="w3-container">
  {% include section_heading.html level="h3" title="Viggo Brun" id="viggo-brun" %}
  <p>Viggo Brun (1885–1978) var en betydelig norsk tallteoretiker. I minnetalen over ham i Det Norske Videnskaps-Akademi i 1979 omtalte Atle Selberg ham som en av de mest egenartede og dypt originale begavelser vårt land har fostret. Viggo Brun ble i 1974 æresmedlem i Norsk matematisk forening. Se Norsk Biografisk Leksikons omtale av Viggo Brun for mer informasjon.</p>
</div>

<div class="w3-container">
  {% include section_heading.html level="h3" title="Priskomiteen" id="priskomiteen" %}
  <p>Norsk matematisk forening oppnevner en priskomite bestående av tre fremragende forskere. Foreningen utpeker en av disse som priskomiteens leder. Oppnevningen gjelder for en periode på 4 år. Medlemmer av priskomiteen kan gjenoppnevnes en gang. Priskomiteen skal foreslå prisvinner i en innstilling til Norsk matematisk forening. Styret i Norsk matematisk forening utpeker prisvinner på grunnlag av priskomiteens innstilling.</p>

  {% include section_heading.html level="h4" title="Medlemmer 2024-2026" id="" %}
  <ul>
    <li>Eugenia Malinnikova (leder)</li>
    <li>Snorre Christiansen</li>
    <li>Andreas Leopold Knutsen</li>
  </ul>

  {% include section_heading.html level="h4" title="Medlemmer 2022" id="" %}
  <ul>
    <li>Berit Stensønes (leder)</li>
    <li>Snorre Christiansen</li>
    <li>Andreas Leopold Knutsen</li>
  </ul>

  {% include section_heading.html level="h4" title="Medlemmer 2018–2020" id="" %}
  <ul>
    <li>Ragni Piene (leder)</li>
    <li>Bjørn Ian Dundas</li>
    <li>Berit Stensønes</li>
  </ul>
</div>