---
layout: default
title: "Viggo Brun-prisen"
---

{% include default_opening.html 
  title="Viggo Brun-prisen" 
  description="Pris for yngre fremragende matematikere"
%}

<div class="w3-container">
  {% include section_heading.html level="h3" title="Viggo Brun" id="viggo-brun" %}
  <div class="w3-row">
    <div class="w3-col w3-padding w3-margin" style="width:auto">
      <img src="/assets/images/viggo_brun_portrait.jpg" alt="Portrett av Viggo Brun" class="portrait-img">
    </div>
    <div class="w3-rest">
      <p>Viggo Brun (13. oktober 1885 – 15. august 1978) var en norsk matematiker og tallteoretiker. Han ble født i Lier i Buskerud og studerte ved Universitetet i Oslo, før han tidlig på 1900-tallet begynte sin forskerkarriere ved Universitetet i Göttingen.</p>
      <p>I 1923 ble han professor ved Teknisk Høgskole i Trondheim (i dag NTNU), og i 1946 professor ved Universitetet i Oslo. Han gikk av med pensjon i 1955, 70 år gammel, og døde i 1978 i Drøbak, Akershus, 92 år gammel. Han tjente også som presidens for Det Kongelige Norske Videnskabers Selskab i 1946.</p>
      <p>Brun ble æresmedlem i NMF i 1974, og prisen bærer hans navn som en hyllest til hans vitenskapelige innsats.</p>
    </div>
  </div>
</div>

<div class="w3-container">
  {% include section_heading.html level="h3" title="Matematiske bidrag" id="bidrag" %}
  <p>Viggo Brun er fremst kjent for sine banebrytende bidrag til sievteori i tallteorien:</p>
  <ul>
    <li><b>Bruns siev (1915):</b> Brun introduserte en ny sievmetode basert på Legendres versjon av Eratosthenes' siev. Metoden brukes til å angripe additive problemer som Goldbachs formodning og tvillingprimtallsformodningen.</li>
    <li><b>Bruns teorem:</b> Han viste at det finnes uendelig mange heltall <i>n</i> slik at både <i>n</i> og <i>n</i>+2 har høyst ni primtallsfaktorer, og at alle store partall er summen av to tall med høyst ni primtallsfaktorer.</li>
    <li><b>Bruns konstant:</b> Brun beviste at summen av de gjensidige verdiene av alle tvillingprimtall konvergerer til en endelig verdi, kjent som Bruns konstant (B₂ ≈ 1,9021605…). Dette er i kontrast til summen av de gjensidige verdiene av alle primtall, som divergerer.</li>
    <li><b>Flerdimensjonale kjedebrøker (1919–1920):</b> Han utviklet en flerdimensjonal kjedebrøkalgoritme og anvendte den på problemer innen musikkteorien.</li>
  </ul>
</div>

<div class="w3-container">
  {% include section_heading.html level="h3" title="Om prisen" id="om-prisen" %}
  <p>Prisen hedrer minnet om Viggo Brun (1885–1978), en fremragende norsk tallteoretiker. Den deles ut til yngre forskere (normalt under 37 år i prisåret) og kan tildeles forskere som er norske statsborgere, har vesentlig del av utdanningen fra Norge, eller har hatt minst tre års ansettelse ved norsk universitet/høgskole.</p>
  <p>Prisvinneren mottar et diplom og et pengebeløp. Prisen ble første gang delt ut i forbindelse med NMFs 100‑årsmarkering i 2018.</p>
</div>

<div class="w3-container">
  {% include section_heading.html level="h3" title="Priskomite og nominasjon" id="komite" %}
  <p>NMF oppnevner en priskomite på tre medlemmer (med leder). Komiteen har normalt en fireårsperiode. Komiteen innstiller en prisvinner til styret i NMF, som fatter den endelige avgjørelsen.</p>
</div>

<div class="w3-container">
  {% include section_heading.html level="h3" title="Prisvinnere" id="prisvinnere" %}
  <br>
  <table class="site-table" style="max-width:640px" aria-describedby="prisvinnere-caption">
    <thead>
      <tr>
        <th scope="col">År</th>
        <th scope="col">Prisvinner</th>
        <th scope="col">Fagfelt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2018</td>
        <td>Rune Gjøringbø Haugseng</td>
        <td>Homotopiteori og høyere kategoriteori</td>
      </tr>
      <tr>
        <td>2020</td>
        <td>John Christian Ottem</td>
        <td>Algebraisk geometri</td>
      </tr>
      <tr>
        <td>2022</td>
        <td>Nina Holden</td>
        <td>Sannsynlighetsteori og tilfeldig geometri</td>
      </tr>
      <tr>
        <td>2024</td>
        <td>Jørgen Vold Rennemo</td>
        <td>Algebraisk geometri</td>
      </tr>
    </tbody>
  </table>
</div>