---
layout: default
title: "Aktiviteter — Norsk Matematisk Forening"
permalink: /arrengementer/
---

{% include default_opening.html 
  heading = "Aktiviteter og arrangementer"
  subtitle= "NMF organiserer og støtter aktiviteter som bygger fagmiljøet, fremmer forskning og gir arenaer for undervisning og formidling."  
%}

<div class="arrangementer-grid">
  {% assign arrangement_posts = site.posts | where: "categories", "arrangement" | sort: "start-date" | reverse %}
  {% for arrangement in arrangement_posts %}
    <a href="{{ arrangement.url }}" class="arrangementer-card">
      {% if arrangement.image %}
      <img src="{{ arrangement.image }}" alt="{{ arrangement.title }}">
      {% endif %}
      <div class="arrangementer-card-overlay">
        {% if arrangement.start-date and arrangement.end-date %}
          <small class="arrangementer-card-date">
            Fra: {{ arrangement.start-date | date: "%Y-%m-%d" }}
          </small>
          <small class="arrangementer-card-date">
            Til: {{ arrangement.end-date | date: "%Y-%m-%d" }}
          </small>
        {% else %}
          <small class="arrangementer-card-date">
            {{ arrangement.date | date: "%Y-%m-%d" }}
          </small>
        {% endif %}
        <h3>{{ arrangement.title }}</h3>
      </div>
    </a>
  {% endfor %}
  </div>