---
layout: default
---
<article class="w3-border w3-round-large w3-margin-bottom abel-theme">
  <header class="w3-container news-header">
    <img src="/assets/images/abel_prize_logo.png" alt="Abelsymposium logo" class="abel-post-logo">
    <h1>{{ page.title }}</h1>
    <div class="post-meta">
      <small class="date">{{ page.date | date: "%Y-%m-%d" }}</small>
      <small class="author">{% if page.author %}{{ page.author }}{% endif %}</small>
    </div>
  </header>
  <div class="w3-container w3-padding post-content">
    {{ content }}
  </div>
  <div class="w3-container w3-light-grey w3-padding">
    <a href="/abelsymposium/all_editions.html" class="w3-button nmf-primary back-button" aria-label="Tilbake til abelsymposium">
      <i class="fa-solid fa-reply" aria-hidden="true"></i>
      <span class="label">Tilbake til alle utgaver</span>
    </a>
  </div>
</article>
